*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    width: 100%;
}
.container {
    width: 100%;
    margin: 0 auto;
} 

  /* 12 System */
.col-xs {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-xs-1 {
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}