body{
    background-color: rosybrown;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: #ffc0cb;
    border: 1px solid black;
    text-align: center;
}

